[submodule "sizr/sizr-core/thirdparty/tree-sitter-rust"]
	path = sizr/sizr-core/thirdparty/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "sizr/sizr-core/thirdparty/tree-sitter-python"]
	path = sizr/sizr-core/thirdparty/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "sizr/sizr-core/thirdparty/tree-sitter-cpp"]
	path = sizr/sizr-core/thirdparty/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
